########################
## Files              ##
########################

------------------------
*.ipynb
------------------------

########################
## Folders            ##
########################

------------------------
__pycache__/
csv/
mlruns/
models/
results/
------------------------
