########################
## Files              ##
########################

------------------------
*.ipynb
------------------------

########################
## Folders            ##
########################

------------------------
csv/
models/
results/
------------------------
